/* fonts */
@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: local('Sonsie One'), local('SonsieOne-Regular'), url(/assets/fonts/SonsieOne-Regular.ttf) format('truetype');
}

/* font-awesome */
.fa {
    color: #3F51B5;
    line-height: 24px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
button > .fa {
    color: #fff;
    font-size: 28px;
}

hr {
    margin: 0;
}

/* site-wrapper */
.site-wrapper {
    background-color: #f0f0f0;
}

/* site-header */
.site-header {
    background-color: #3F51B5;
    color: #fff;
    height: 72px;
    padding: 32px;
}
.site-header__logo {
    display: inline-block;
    height: 72px;
    vertical-align: top;
}
.site-header__block {
    display: inline-block;
}
.site-header__title {
    font-family: "Sonsie One", cursive;
    font-size: 56px;
    margin: 0 0 0 10px;
}
.site-header__decription {
    font-family: monospace;
    font-size: 24px;
    margin: 0 0 0 20px;
    color: rgba(255, 255, 255, 0.5);
}

/* site-navbar */
.site-navbar {
    background-color: #1A237E;
    height: 64px;
}
.site-navbar__nav {
    list-style: none;
    margin: 0;
}
.site-navbar__navitem {
    position: relative;
    display: inline-block;
    width: 120px;
    color: rgba(255, 255, 255, 0.6);;
}
.site-navbar__navitem--active {
    color: #fff;
}
.site-navbar__navitem--active::after {
    height: 4px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #FF4081;
}
.site-navbar__navitem > a {
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 64px;
    height: 64px;
    font-size: 1.6em;
    color: inherit;
}

/* site-footer */
.site-footer {
    background-color: #424242;
    color: #fff;
    padding: 25px 30px;
    font-size: 1.2em;
}
.site-footer__miitbeian {
    display: inline-block;
    width: 33%;
    text-align: left;
}
.site-footer__copyright {
    display: inline-block;
    width: 33%;
    text-align: center;
}
.site-footer__poweredby {
    display: inline-block;
    width: 33%;
    text-align: right;
}

/* site-tools */
.site-tools {
    position: fixed;
    right: 40px;
    bottom: 100px;
}
.site-tools__top {
    display: none;
}

/* site-content */
.site-content {
    padding-top: 48px;
}
.site-content .post {
    max-width: 860px;
    background-color: #fff;
    margin: 0 auto 48px;
}

/* post */
.post__image {
    padding: 0;
    width: 100%;
    margin-right: 10px;
}
.post__image--mini {
    max-height: 360px;
}
.post__date {
    float: right;
    text-align: right;
    font-family: 'Georgia', serif;
    color: #3F51B5;
    padding: 16px;
}
.post__day, .post__month-year {
    display: block;
}
.post__day {
    font-size: 48px;
    margin-right: 36px;
}
.post__month-year {
    font-size: 24px;
    margin-top: 20px;
}
.post__meta {
    padding: 16px;
}
.post__author {
    font-size: 20px;
    display: inline-block;
    padding: 8px;
}
.post__tags {
    padding: 8px;
}
.post__tags--inline {
    margin-left: 10px;
    display: inline-block;
}
.post__body {
    padding: 16px;
}
.post__title {
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 45px !important;
    line-height: 48px !important;
    border: none !important;
}
.post__title a {
    text-decoration: none;
    font-size: 36px;;
}
.post__excerpt {
    max-height: 350px;
    overflow: hidden;
}
.post__read-more {
    float: right;
    margin: 5px;
    text-align: right;
    text-decoration: none;
    font-size: 1.2em;
}
.post__external-link {
    margin-left: 5px;
    line-height: 14px;
    font-size: 14px;
    height: 14px;
    width: 14px;
}

/* pagination */
.pagination {
    width: 860px;
    margin: -20px auto 30px;
    text-align: center;
}
.pagination__current {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    margin: 0 20px;
    vertical-align: middle;
}

/* markdown */
.post__body h1, .post__body h2, .post__body h3, .post__body h4, .post__body h5, .post__body h6 {
    font-weight: bold;
}
.post__body h1 {
    color: #000000;
    font-size: 28px;
}
.post__body h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}
.post__body h3 {
    font-size: 18px;
}
.post__body h4 {
    font-size: 16px;
}
.post__body h5 {
    font-size: 14px;
}
.post__body h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}
.post__body hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}
.post__body p, .post__body blockquote, .post__body ul, .post__body ol, .post__body dl, .post__body li, .post__body table, .post__body pre {
    margin: 15px 0;
}
.post__body code, .post__body pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}
.post__body code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}
.post__body pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}
.post__body pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}
